<% content_for :title do%>
  Help
<%end%>

<br>
<div>
  Vivek H V<br>
  Institute Webops Core 14-15<br>
  Phone : <br>
  Mail : hvvivek@gmail.com<br>
</div>
<br>
<div>
  Avinash Kondeti<br>
  Institute Webops Core 14-15<br>
  Phone : <br>
  Mail : avi.kondeti@gmail.com<br>
</div>
<br>
<div>
  Dharani Manne<br>
  Institute Webops Core 14-15<br>
  Phone : 9043814168<br>
  Mail : dharani.manne@gmail.com<br>
</div>
