<div id="footer">
  <div class="footer-container">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Copyrights @ Institute WebOps 14-15" %></li>
        <li><%= link_to "About Us", static_pages_about_path %></li>
        <li><%= link_to "Contact Us", static_pages_contact_path %></li>
      </ul>
    </div>
  </div>
