<div class="unsigned_msg_div">
<br>
<p>Please do login to view any form of content on this site.</p>
<br>

<div class="signin_form">
<h1 class="form_heading">Sign in</h1><br>

<div class="form_container">
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path, method: 'post' , :html => { :class => "form-horizontal"}) do |f| %>

      <%= f.text_field :roll, class:"form-control", placeholder:"Username" %>

      <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary btn-block" %>
    <% end %>

  </div>
</div>
</div>
</div>

</div>
<div class="rules_div">
Rules:
<ul class="list-styled">
<li><span class="glyphicon glyphicon-ok"></span> You should login to the site for accessing the contents of this site. Use LDAP credentials</li>
<li><span class="glyphicon glyphicon-ok"></span> To tag a student in the content or comments, you should use '+' symbol appended with roll number of the student <br>
  Example: Comment "regarding mess facilities, asking +AE25B099 for a solution",  +AE25B099 will be replaced with name of the student AE25B099 which linked to his/her complaints page
 </li>
</ul>
<br>
Features:
<ul class="list-styled">
<li><span class="glyphicon glyphicon-star-empty"></span> Optional Anonymity while posting a new feedback/complaint</li>
<li><span class="glyphicon glyphicon-star-empty"></span> Angry Level </li>
<li><span class="glyphicon glyphicon-star-empty"></span> Post Follow/Unfollow </li>
<li><span class="glyphicon glyphicon-star-empty"></span> Students Tagging </li>
<li><span class="glyphicon glyphicon-star-empty"></span> Category Tagging (The concerned Secretaries will follow the post automatically when a category is tagged)</li>
</ul>

</div>
