<div class="panel panel-default">
			<div class="panel-body">
			<p>Ganga hostel has a sophisticated music room with:
			<ul>
			<li>Filbert standard 5-piece drum kit</li>
			<li>Yamaha PSR I-455 Keyboard</li>
			<li>Electric guitar,Amplifiers</li>
			<li>5-string bass guitar</li>
			<li>Stranger Amplifier 2 mic and mic stands</li>
			</ul>
			<p>It also provides a luxurious TV room which is properly carpeted and furnished with pillows to provide a comfortable view</p><br>
			<div class="container">
				<%= image_tag("lit.jpg", :class => "style_image") %>
				<%= video_tag "wmgroup.mp4", :size => "250x200", :controls => true, :class => "video_style" %>
			</div>	
			<br>
			<p>Other LitSoc activities like treasure hunt and Queen of Sheeba also has a good enthusiastic participation from the hostel</p>
			<p>Besides these , Ganga hostel celebrates festivals like Ganesh chathurthi, Krishna janmashtami and Holi with great pomp and show</p>
			</div>
			</div>